version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "5164:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      Jwt__Key: ${process.env.JWT_KEY}

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
